<?xml version="1.0" encoding="UTF-8" ?>
<XML_DIZ_INFO>
	<MASTER_PAD_VERSION_INFO>
		<MASTER_PAD_VERSION>3.11</MASTER_PAD_VERSION>
		<MASTER_PAD_EDITOR>PADGen 3.1.1.50 http://www.padgen.org</MASTER_PAD_EDITOR>
		<MASTER_PAD_INFO>Portable Application Description, or PAD for short, is a data set that is used by shareware authors to disseminate information to anyone interested in their software products. To find out more go to http://pad.asp-software.org</MASTER_PAD_INFO>
	</MASTER_PAD_VERSION_INFO>
	<Company_Info>
		<Company_Name>PMC Heroinchik</Company_Name>
		<Address_1>Silent st.</Address_1>
		<Address_2>1488</Address_2>
		<City_Town>Donetsk</City_Town>
		<State_Province />
		<Zip_Postal_Code />
		<Country>Donetsk People Republic</Country>
		<Company_WebSite_URL>http://t.me/pmc_heroinchik</Company_WebSite_URL>
		<Contact_Info>
			<Author_First_Name>XMPTXNXSS</Author_First_Name>
			<Author_Last_Name>Only first name</Author_Last_Name>
			<Author_Email>pmcheroinchik@proton.me</Author_Email>
			<Contact_First_Name>XMPTXNXSS</Contact_First_Name>
			<Contact_Last_Name>Only first name</Contact_Last_Name>
			<Contact_Email>pmcheroinchik@proton.me</Contact_Email>
		</Contact_Info>
		<Support_Info>
			<Sales_Email>pmcheroinchik@proton.me</Sales_Email>
			<Support_Email>pmcheroinchik@proton.me</Support_Email>
			<General_Email>pmcheroinchik@proton.me</General_Email>
			<Sales_Phone />
			<Support_Phone />
			<General_Phone />
			<Fax_Phone />
		</Support_Info>
	</Company_Info>
	<Program_Info>
		<Program_Name>ShadowGem Server</Program_Name>
		<Program_Version>1.0</Program_Version>
		<Program_Release_Month>12</Program_Release_Month>
		<Program_Release_Day>11</Program_Release_Day>
		<Program_Release_Year>2023</Program_Release_Year>
		<Program_Cost_Dollars>0</Program_Cost_Dollars>
		<Program_Cost_Other_Code />
		<Program_Cost_Other />
		<Program_Type>Freeware</Program_Type>
		<Program_Release_Status>Beta</Program_Release_Status>
		<Program_Install_Support>No Install Support</Program_Install_Support>
		<Program_OS_Support>Android,iPhone,iPod,Linux,Linux Console,Linux Gnome,Linux GPL,Linux Open Source,Mac OS X,Mac Other,OpenVMS,Palm,Pocket PC,Symbian,Unix,Win2000,Win7 x32,Win7 x64,Win98,WinMobile,WinOther,WinServer,WinVista,WinVista x64,WinXP,Other</Program_OS_Support>
		<Program_Language>English</Program_Language>
		<Program_Change_Info>Launched</Program_Change_Info>
		<Program_Specific_Category>Internet</Program_Specific_Category>
		<Program_Category_Class>Servers::Other Server Applications</Program_Category_Class>
		<Program_System_Requirements>2 GB of RAM, 1 GB Ethernet, 20 GB of disk memory, 2GHz  with 4 cores CPU</Program_System_Requirements>
		<File_Info>
			<File_Size_Bytes>5358</File_Size_Bytes>
			<File_Size_K>5</File_Size_K>
			<File_Size_MB>0.01</File_Size_MB>
		</File_Info>
		<Expire_Info>
			<Has_Expire_Info>N</Has_Expire_Info>
			<Expire_Count />
			<Expire_Based_On>Days</Expire_Based_On>
			<Expire_Other_Info />
			<Expire_Month />
			<Expire_Day />
			<Expire_Year />
		</Expire_Info>
	</Program_Info>
	<Program_Descriptions>
		<English>
			<Keywords />
			<Char_Desc_45 />
			<Char_Desc_80 />
			<Char_Desc_250 />
			<Char_Desc_450 />
			<Char_Desc_2000 />
		</English>
		<Ukrainian>
			<Keywords />
			<Char_Desc_45 />
			<Char_Desc_80 />
			<Char_Desc_250 />
			<Char_Desc_450 />
			<Char_Desc_2000 />
		</Ukrainian>
		<Russian>
			<Keywords />
			<Char_Desc_45 />
			<Char_Desc_80 />
			<Char_Desc_250 />
			<Char_Desc_450 />
			<Char_Desc_2000 />
		</Russian>
	</Program_Descriptions>
	<Web_Info>
		<Application_URLs>
			<Application_Info_URL>http://github.com/Void-666/ShadowGem/blob/main/SERVER_INFO.md</Application_Info_URL>
			<Application_Order_URL />
			<Application_Screenshot_URL>http://i.ibb.co/k4KM5Hj/2023-12-11-095659.png</Application_Screenshot_URL>
			<Application_Icon_URL>http://i.ibb.co/5jZNbKz/sgserver.png</Application_Icon_URL>
			<Application_XML_File_URL>http://github.com/Void-666/ShadowGem/raw/main/pad/server.xml</Application_XML_File_URL>
		</Application_URLs>
		<Download_URLs>
			<Primary_Download_URL>http://github.com/Void-666/ShadowGem/raw/main/pad/server.zip</Primary_Download_URL>
			<Secondary_Download_URL />
			<Additional_Download_URL_1 />
			<Additional_Download_URL_2 />
		</Download_URLs>
	</Web_Info>
	<Permissions>
		<Distribution_Permissions>You are free to:
Share — copy and redistribute the material in any medium or format for any purpose, even commercially.
Adapt — remix, transform, and build upon the material for any purpose, even commercially.
The licensor cannot revoke these freedoms as long as you follow the license terms.
Under the following terms:
Attribution — You must give appropriate credit , provide a link to the license, and indicate if changes were made. You may do so in any reasonable manner, but not in any way that suggests the licensor endorses you or your use.
No additional restrictions — You may not apply legal terms or technological measures that legally restrict others from doing anything the license permits.
Notices:
You do not have to comply with the license for elements of the material in the public domain or where your use is permitted by an applicable exception or limitation .

No warranties are given. The license may not give you all of the permissions necessary for your intended use. For example, other rights such as publicity, privacy, or moral rights may limit how you use the material.</Distribution_Permissions>
		<EULA>It's all in educational or personal (like remote control of your devices) purposes. Don't use it for evil (stealing passwords, money, etc). If you do it, police can arrest you.</EULA>
	</Permissions>
	<Affiliates>
		<Affiliates_FORM>Y</Affiliates_FORM>
		<Affiliates_VERSION>1.4</Affiliates_VERSION>
		<Affiliates_URL>http://pad.asp-software.org/extensions/Affiliates.htm</Affiliates_URL>
		<Affiliates_Information_Page />
		<Affiliates_Avangate_Order_Page />
		<Affiliates_Avangate_Vendor_ID />
		<Affiliates_Avangate_Product_ID />
		<Affiliates_Avangate_Maximum_Commission_Rate />
		<Affiliates_BMTMicro_Order_Page />
		<Affiliates_BMTMicro_Vendor_ID />
		<Affiliates_BMTMicro_Product_ID />
		<Affiliates_BMTMicro_Maximum_Commission_Rate />
		<Affiliates_Cleverbridge_Order_Page />
		<Affiliates_Cleverbridge_Vendor_ID />
		<Affiliates_Cleverbridge_Product_ID />
		<Affiliates_Cleverbridge_Maximum_Commission_Rate />
		<Affiliates_clixGalore_Order_Page />
		<Affiliates_clixGalore_Vendor_ID />
		<Affiliates_clixGalore_Product_ID />
		<Affiliates_clixGalore_Maximum_Commission_Rate />
		<Affiliates_CommissionJunction_Order_Page />
		<Affiliates_CommissionJunction_Vendor_ID />
		<Affiliates_CommissionJunction_Product_ID />
		<Affiliates_CommissionJunction_Maximum_Commission_Rate />
		<Affiliates_DigiBuy_Order_Page />
		<Affiliates_DigiBuy_Vendor_ID />
		<Affiliates_DigiBuy_Product_ID />
		<Affiliates_DigiBuy_Maximum_Commission_Rate />
		<Affiliates_DigitalCandle_Order_Page />
		<Affiliates_DigitalCandle_Vendor_ID />
		<Affiliates_DigitalCandle_Product_ID />
		<Affiliates_DigitalCandle_Maximum_Commission_Rate />
		<Affiliates_Emetrix_Order_Page />
		<Affiliates_Emetrix_Vendor_ID />
		<Affiliates_Emetrix_Product_ID />
		<Affiliates_Emetrix_Maximum_Commission_Rate />
		<Affiliates_eSellerate_Order_Page />
		<Affiliates_eSellerate_Vendor_ID />
		<Affiliates_eSellerate_Product_ID />
		<Affiliates_eSellerate_Maximum_Commission_Rate />
		<Affiliates_iPortis_Order_Page />
		<Affiliates_iPortis_Vendor_ID />
		<Affiliates_iPortis_Product_ID />
		<Affiliates_iPortis_Maximum_Commission_Rate />
		<Affiliates_Kagi_Order_Page />
		<Affiliates_Kagi_Vendor_ID />
		<Affiliates_Kagi_Product_ID />
		<Affiliates_Kagi_Maximum_Commission_Rate />
		<Affiliates_LinkShare_Order_Page />
		<Affiliates_LinkShare_Vendor_ID />
		<Affiliates_LinkShare_Product_ID />
		<Affiliates_LinkShare_Maximum_Commission_Rate />
		<Affiliates_NorthStarSol_Order_Page />
		<Affiliates_NorthStarSol_Vendor_ID />
		<Affiliates_NorthStarSol_Product_ID />
		<Affiliates_NorthStarSol_Maximum_Commission_Rate />
		<Affiliates_OneNetworkDirect_Order_Page />
		<Affiliates_OneNetworkDirect_Vendor_ID />
		<Affiliates_OneNetworkDirect_Product_ID />
		<Affiliates_OneNetworkDirect_Maximum_Commission_Rate />
		<Affiliates_Order1_Order_Page />
		<Affiliates_Order1_Vendor_ID />
		<Affiliates_Order1_Product_ID />
		<Affiliates_Order1_Maximum_Commission_Rate />
		<Affiliates_Osolis_Order_Page />
		<Affiliates_Osolis_Vendor_ID />
		<Affiliates_Osolis_Product_ID />
		<Affiliates_Osolis_Maximum_Commission_Rate />
		<Affiliates_Plimus_Order_Page />
		<Affiliates_Plimus_Vendor_ID />
		<Affiliates_Plimus_Product_ID />
		<Affiliates_Plimus_Maximum_Commission_Rate />
		<Affiliates_Regnet_Order_Page />
		<Affiliates_Regnet_Vendor_ID />
		<Affiliates_Regnet_Product_ID />
		<Affiliates_Regnet_Maximum_Commission_Rate />
		<Affiliates_Regnow_Order_Page />
		<Affiliates_Regnow_Vendor_ID />
		<Affiliates_Regnow_Product_ID />
		<Affiliates_Regnow_Maximum_Commission_Rate />
		<Affiliates_Regsoft_Order_Page />
		<Affiliates_Regsoft_Vendor_ID />
		<Affiliates_Regsoft_Product_ID />
		<Affiliates_Regsoft_Maximum_Commission_Rate />
		<Affiliates_ShareIt_Order_Page />
		<Affiliates_ShareIt_Vendor_ID />
		<Affiliates_ShareIt_Product_ID />
		<Affiliates_ShareIt_Maximum_Commission_Rate />
		<Affiliates_Shareasale_Order_Page />
		<Affiliates_Shareasale_Vendor_ID />
		<Affiliates_Shareasale_Product_ID />
		<Affiliates_Shareasale_Maximum_Commission_Rate />
		<Affiliates_SWReg_Order_Page />
		<Affiliates_SWReg_Vendor_ID />
		<Affiliates_SWReg_Product_ID />
		<Affiliates_SWReg_Maximum_Commission_Rate />
		<Affiliates_V-Share_Order_Page />
		<Affiliates_V-Share_Vendor_ID />
		<Affiliates_V-Share_Product_ID />
		<Affiliates_V-Share_Maximum_Commission_Rate />
		<Affiliates_VFree_Order_Page />
		<Affiliates_VFree_Vendor_ID />
		<Affiliates_VFree_Product_ID />
		<Affiliates_VFree_Maximum_Commission_Rate />
		<Affiliates_Yaskifo_Order_Page />
		<Affiliates_Yaskifo_Vendor_ID />
		<Affiliates_Yaskifo_Product_ID />
		<Affiliates_Yaskifo_Maximum_Commission_Rate />
	</Affiliates>
	<ASP>
		<ASP_FORM>Y</ASP_FORM>
		<ASP_Member>N</ASP_Member>
		<ASP_Member_Number />
	</ASP>
</XML_DIZ_INFO>
